body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: turquoise;
  height: 3em;
}

/* nav a {
  display: inline-block;
  margin: 1em
} */

.tripCatalogContainer {
  display: flex;
  /* justify-content: flex-start; */
  /* width: 50% */
}

.preLogin {
  display: flex;
  align-content: space-between;
  /* justify-content: space-between; */
}

#titleContainer{
  text-align: center
}

form div {
  margin: 1em;
  display: inline-block;
}
