body {
  font-family: sans-serif;
  padding-bottom: 30px;
  padding-top: 70px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn-space {
  margin: 5px;
}

.cart-notif {
  margin: 5px
}

label {
  display: block;
}


nav a {
  display: inline-block;
}

.navbar-nav { 
  flex-direction: row;
}

#filter {
  display:  flex;
  justify-content: flex-start;
  padding:  5px;
  margin-right: 20px;
  padding-top: 0px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #82c9b8;
    height: 26px;
    text-align: center;
    z-index: 100;
    overflow: scroll;
}

.footerWrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 22px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.fa{
  color: green;
  font-size: 3em !important;
  margin: 0 auto;
}

/* css below from Bootstrap */
.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.g-signin2 {
  display:block;
  text-align:center;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
